---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
    background: url("../images/noise.png");
    background-repeat: repeat;
  }

  .page__footer {
    background: #070707;
    border-top: 1px solid #cc412b;
  }

  a[href="/feed.xml"] {
    display: none;
  }

  