/* Isle Theme */

$background-color: #0b0f14;
$text-color: #d7d7d7;

$primary-color: #ff6a00;
$link-color: #ff6a00;

$border-color: #20252b;

$masthead-background-color: #0b0f14;

$code-background-color: #11151a;